/* ############################################################# */
/* ############################################################# */
/* ############################################################# */
/* ############################################################# */
/* TechTile - ContainerReality */
/* Copywrite */
/* ############################################################# */
/* ############################################################# */
/* ############################################################# */
/* ############################################################# */





/* ############################################################# */
/* ############################################################# */
/* Object: TechTileContainerΔ */
/* CSS Focus: Base Appearance */
/* ############################################################# */
/* ############################################################# */

#TheBaseTile {
   position: fixed;
   top: 18px;
   left: -12px;
   width: 50px;
   height: 50px;
}


#TheBaseTileIconContainerId {
   position: relative;
   width: 150px;
   height: 150px;
   background: rgba(255, 255, 255, 0.5);
   border: 1px dashed rgba(255, 255, 255, 0.9);
   border-radius: 10px;
   box-shadow:rgba(255, 255, 255, 0.9);
   z-index: 1;
   transition: 1s;
}


#TheBaseTileIconContainerId:hover {
   position: default;
   top: -60px;
   bottom: -60px;
   left: -70px;
   right: -70px;
   width: 300px;
   height: 300px;
   background: rgba(255, 255, 255, 0.5);
   border: 1px dashed rgba(255, 255, 255, 0.9);
   border-radius: 10px;
   box-shadow:rgba(255, 255, 255, 0.9);
   transition: 1s;
}


/* #TheBaseTileIconContainerId:hover {
   position: relative;
   width: 545px;
   height: 545px;
   background: rgba(255, 255, 255, 0.5);
   border: 1px inset rgba(255, 255, 255, 0.9);
   border-radius: 10px;
   box-shadow:rgba(255, 255, 255, 0.9);
   transition: 1s;
} */

/* #TheBaseTileIconContainerId:hover #TheBaseTileIconContainerId {
   position: relative;
   width: 345px;
   height: 145px;
   background: rgba(255, 255, 255, 0.5);
   border: 1px inset rgba(255, 255, 255, 0.9);
   border-radius: 10px;
   box-shadow:rgba(255, 255, 255, 0.9);
   transition: 1s;
} */


#TheBaseTileImg {
   position: relative;
   right: -50px;
   bottom: -105px;
   width: 45px;
   height: 45px;
   background: rgba(255, 255, 255, 0.5);
   border: 1px inset rgba(255, 255, 255, 0.9);
   border-radius: 10px;
   box-shadow:rgba(255, 255, 255, 0.9);
   z-index: 2;
   transition: 1s;
}


#TheBaseTileImg:hover {
   position: relative;
   margin-left: -25px;
   margin-bottom: -25px;
   width: 100px;
   height: 100px;
   background: rgba(255, 255, 255, 0.5);
   border: 1px inset rgba(255, 255, 255, 0.9);
   border-radius: 10px;
   box-shadow:rgba(255, 255, 255, 0.9);
   transition: 1s;
}


#TheBaseTileIconContainerIconId {
   position: relative;
   right: -50px;
   bottom: -50px;
   width: 45px;
   height: 45px;
   background: rgba(255, 255, 255, 0.5);
   border: 1px inset rgba(255, 255, 255, 0.9);
   border-radius: 10px;
   box-shadow:rgba(255, 255, 255, 0.9);
   transition: 1s;
}

 /* ------------------------------------------------------------- */
 /* |- // # - BaseIconContainer Δ when user hovers over baseTile */
 /* ------------------------------------------------------------- */
 #TheBaseTileIconContainerId:hover #TheBaseTileIconContainerIconId {
   position: relative;
   top: 113px;
   left: 120px;;
   width: 45px;
   height: 45px;
   background: rgba(255, 255, 255, 0.5);
   border: 1px inset rgba(255, 255, 255, 0.9);
   border-radius: 10px;
   box-shadow:rgba(255, 255, 255, 0.9);
   transition: 1s;
}





 /* ############################################################# */
 /* |- # Previous Δ */
 /* ############################################################# */

 #ThePreviousΔContainerIconId {
   position: relative;
   top: -75px;
   left: -25px;
   width: 45px;
   height: 45px;
   background: rgba(255, 255, 255, 0.5);
   border: 1px inset rgba(255, 255, 255, 0.9);
   border-radius: 10px;
   box-shadow:rgba(255, 255, 255, 0.9);
   transition: 1s;
 }

 /* ------------------------------------------------------------- */
 /* |- // # - Previous Δ when user hovers over baseTile */
 /* ------------------------------------------------------------- */
 #TheBaseTileIconContainerId:hover #ThePreviousΔContainerIconId {
   position: relative;
   top: -5px;
   left: 50px;;
   width: 45px;
   height: 45px;
   background: rgba(255, 255, 255, 0.5);
   border: 1px inset rgba(255, 255, 255, 0.9);
   border-radius: 10px;
   box-shadow:rgba(255, 255, 255, 0.9);
   transition: 1s;
}



 /* ############################################################# */
 /* |- # Next Δ */
 /* ############################################################# */

 #TheNextΔContainerIconId {
   position: relative;
   right: -125px;
   bottom: -20px;
   width: 45px;
   height: 45px;
   background: rgba(255, 255, 255, 0.5);
   border: 1px inset rgba(255, 255, 255, 0.9);
   border-radius: 10px;
   box-shadow:rgba(255, 255, 255, 0.9);
   transition: 1s;
 }


  /* ------------------------------------------------------------- */
 /* |- // # - Next Δ when user hovers over baseTile */
 /* ------------------------------------------------------------- */
 #TheBaseTileIconContainerId:hover #TheNextΔContainerIconId {
   position: relative;
   top: 55px;
   left: 185px;;
   width: 45px;
   height: 45px;
   background: rgba(255, 255, 255, 0.5);
   border: 1px inset rgba(255, 255, 255, 0.9);
   border-radius: 10px;
   box-shadow:rgba(255, 255, 255, 0.9);
   transition: 1s;
}


 /* ############################################################# */
 /* |- # Purpose Δ */
 /* ############################################################# */

 #ThePurposeΔContainerIconId {
   position: relative;
   right: -125px;
   top: -180px;
   width: 45px;
   height: 45px;
   background: rgba(255, 255, 255, 0.5);
   border: 1px inset rgba(255, 255, 255, 0.9);
   border-radius: 10px;
   box-shadow:rgba(255, 255, 255, 0.9);
   transition: 1s;
 }



   /* ------------------------------------------------------------- */
 /* |- // # - Next Δ when user hovers over baseTile */
 /* ------------------------------------------------------------- */
 #TheBaseTileIconContainerId:hover #ThePurposeΔContainerIconId {
   position: relative;
   top: -107px;
   left: 185px;;
   width: 45px;
   height: 45px;
   background: rgba(255, 255, 255, 0.5);
   border: 1px inset rgba(255, 255, 255, 0.9);
   border-radius: 10px;
   box-shadow:rgba(255, 255, 255, 0.9);
   transition: 1s;
}


 /* ############################################################# */
 /* |- # Complexity Δ */
 /* ############################################################# */

 #TheComplexityΔContainerIconId {
   position: relative;
   top: -85px;
   left: -25px;
   width: 45px;
   height: 45px;
   background: rgba(255, 255, 255, 0.5);
   border: 1px inset rgba(255, 255, 255, 0.9);
   border-radius: 10px;
   box-shadow:rgba(255, 255, 255, 0.9);
   transition: 1s;
 }



 /* ------------------------------------------------------------- */
 /* |- // # - Complexity Δ when user hovers over baseTile */
 /* ------------------------------------------------------------- */
 #TheBaseTileIconContainerId:hover #TheComplexityΔContainerIconId {
   position: relative;
   top: -50px;
   left: 50px;;
   width: 45px;
   height: 45px;
   background: rgba(255, 255, 255, 0.5);
   border: 1px inset rgba(255, 255, 255, 0.9);
   border-radius: 10px;
   box-shadow:rgba(255, 255, 255, 0.9);
   transition: 1s;
}


 /* ############################################################# */
 /* |- # Notification Δ */
 /* ############################################################# */
 #TheNotificationΔContainerIconId {
   position: relative;
   top: -285px;
   right: -50px;
   width: 45px;
   height: 45px;
   background: rgba(255, 255, 255, 0.5);
   border: 1px inset rgba(255, 255, 255, 0.9);
   border-radius: 10px;
   box-shadow:rgba(255, 255, 255, 0.9);
   transition: 1s;
 }


  /* ------------------------------------------------------------- */
 /* |- // # - Notificaation Δ when user hovers over baseTile */
 /* ------------------------------------------------------------- */
 #TheBaseTileIconContainerId:hover #TheNotificationΔContainerIconId {
   position: relative;
   top: -213px;
   left: 120px;;
   width: 45px;
   height: 45px;
   background: rgba(255, 255, 255, 0.5);
   border: 1px inset rgba(255, 255, 255, 0.9);
   border-radius: 10px;
   box-shadow:rgba(255, 255, 255, 0.9);
   transition: 1s;
}


 /* ############################################################# */
 /* |- # Control Panel Δ */
 /* ############################################################# */
 #TheControlPanelContainerIconId {
   position: relative;
   top: -190px;
   right: -50px;
   width: 45px;
   height: 45px;
   background: rgba(255, 255, 255, 0.5);
   border: 1px inset rgba(255, 255, 255, 0.9);
   border-radius: 10px;
   box-shadow:rgba(255, 255, 255, 0.9);
   transition: 1s;
 }

 /* ------------------------------------------------------------- */
 /* |- // # - Control Panel Δ when user hovers over baseTile */
 /* ------------------------------------------------------------- */
 #TheBaseTileIconContainerId:hover #TheControlPanelContainerIconId {
   position: relative;
   top: -150px;
   left: 120px;;
   width: 45px;
   height: 45px;
   background: rgba(255, 255, 255, 0.5);
   border: 1px inset rgba(255, 255, 255, 0.9);
   border-radius: 10px;
   box-shadow:rgba(255, 255, 255, 0.9);
   transition: 1s;
}

 /* ############################################################# */
 /* |- # TimeValues Δ */
 /* ############################################################# */
 #TheTimeValuesContainerIconId {
   position: relative;
   top: -319px;
   left: -25px;
   width: 45px;
   height: 45px;
   background: rgba(255, 255, 255, 0.5);
   border: 1px inset rgba(255, 255, 255, 0.9);
   border-radius: 10px;
   box-shadow:rgba(255, 255, 255, 0.9);
   transition: 1s;
 }


 /* ------------------------------------------------------------- */
 /* |- // # - TimeValue Δ when user hovers over baseTile */
 /* ------------------------------------------------------------- */
 #TheBaseTileIconContainerId:hover #TheTimeValuesContainerIconId {
   position: relative;
   top: -265px;
   left: 50px;;
   width: 45px;
   height: 45px;
   background: rgba(255, 255, 255, 0.5);
   border: 1px inset rgba(255, 255, 255, 0.9);
   border-radius: 10px;
   box-shadow:rgba(255, 255, 255, 0.9);
   transition: 1s;
}


  /* ############################################################# */
 /* |- # Properties Δ */
 /* ############################################################# */
 #ThePropertiesContainerIconId {
   position: relative;
   top: -370px;
   right: -125px;
   width: 45px;
   height: 45px;
   background: rgba(255, 255, 255, 0.5);
   border: 1px inset rgba(255, 255, 255, 0.9);
   border-radius: 10px;
   box-shadow:rgba(255, 255, 255, 0.9);
   transition: 1s;
 }


 /* ------------------------------------------------------------- */
 /* |- // # - Properties Δ when user hovers over baseTile */
 /* ------------------------------------------------------------- */
 #TheBaseTileIconContainerId:hover #ThePropertiesContainerIconId {
   position: relative;
   top: -305px;
   left: 185px;;
   width: 45px;
   height: 45px;
   background: rgba(255, 255, 255, 0.5);
   border: 1px inset rgba(255, 255, 255, 0.9);
   border-radius: 10px;
   box-shadow:rgba(255, 255, 255, 0.9);
   transition: 1s;
}